html{
    background: url("../images/main_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroud-size: cover;
    background-size: cover;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div.sign{
    float: left;
    cursor: pointer;
    overflow: auto;
    color: #717171;
    font-size: 80%;
    border: 1px solid #717171;
    border-radius: 5px;
}
div.sign_in{
    border-right: 1px solid #717171;
}
div.sign_in, div.join{
    float: left;
    padding: 5px 10px;
}
div.sign_in:hover, div.join:hover{
    color: white;
    background-color: #404040;
}
div#join_box{
    position:fixed;
    z-index: 100;  
    top:50%;  
    left:50%;  
    margin:-150px 0 0 -250px;  
    width:500px;  
    height:300px; 
    background-color: white;
}
.join_box_top{
    background-color: #eed11e;
    overflow: auto;
}
.join_box_top p{
    float:left;
}
.join_box_close{
}
.join_box_content{
    clear: both;
}